


<div class="container">
    <img src="../../assets/Drawings/computer.jpg" style="height: 350px; width: 1100px;" alt="">
</div>


<h3 style="text-align: center;">Hire The Talent Not Just Qualification.</h3>
<h6 style="text-align: center;">Talk to us about new work</h6>

<div class="d-flex justify-content-center" >
  <div class="row">
    <div class="col">
      <input style="background-color:wheat;margin: 2px; border-radius: 10px; height: 50px;" type="text" name="" id=""  placeholder="FirstName">
      <input style="background-color:wheat;margin: 2px; border-radius: 10px;height: 50px;" type="number" name="" id=""  placeholder="Mobile Number">
      <input style="background-color:wheat;margin: 2px; border-radius: 10px;height: 50px;" type="email"  placeholder="E-Mail address">
      <br>
      <br>
      <div class="d-flex justify-content-center" >
      <span>
        <input style="background-color:wheat;border-radius: 10px;width: 500px;height: 50px;" class="message"type="text" placeholder="Massage Your" >
    </span>
</div>
    <br>
    <br>
    <div class="d-flex justify-content-center">
      <button type="submit" value="Submit Your Request" class="btn btn-success">Submit Your Request</button>
     </div>
    </div>
  </div>
</div>
<br><br>