
<div class="container">
    <a>
    <img src="../../assets/Drawings/computer.jpg" style="height: 350px; width: 1100px;" alt="">signin
</a>
</div>


<div class="container">
    <img src="../../assets/Drawings/computer.jpg" style="height: 350px; width: 1100px;" alt="">
  </div>
  <p>  These Website Standard Terms and Conditions written on this webpage shall manage your use of our website, Ability Quiver accessible at https://abilityquiver.com.
</p>
<p>T
    hese Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard Terms and Conditions.
</p>