<nav class="navbar navbar-expand-md navbar-light bg-light">
    <img src="../assets/Drawings/ability.jpg" width="200" style="position: fixed;" alt="">

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">aboutus</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-5">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item  active" >
            <a class="nav-link" routerLink='home'>Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='about'>aboutus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='contact'>contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='signin'></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='terms'></a>
          </li>
        </ul>
    
    </div>
    </form>
    </div>
</nav>
<router-outlet></router-outlet>

  <footer class="footer">
    <div class="wrapper">
      <div class="footerTop" style="background-color: lightgray;">
        <div class="row">
        <div class="col1 wow fadeInUp footer-logo animated" style="visibility: visible;">
          <pre> <a>
            <img src="../assets/Drawings/ability.jpg" width="150px" height="100px" alt="">
          </a>
          <strong>AQ</strong>saves your time and money by 
            providing an already screened 
            talent pool to hire from.
          </pre>
        </div>
        <div class="col2 wow fadeInUp  animated" style="visibility: visible;">
          <h4>
            Company
          </h4>
          <ul class="menu">
            <li>
              <a href="about">about us</a>
            </li>
            <li><a href="contact">contact us</a></li>
          </ul>
        </div>
      <div class="col3 wow fadeInUp  animated" style="visibility: visible;">
        <h4>
          Useful Links
        </h4>
        <ul class="menu">
          <li>
            <a href="terms & conditions">terms & conditions</a>
          </li>
          <li><a href="privacy policy">privacy policy</a></li>
        </ul>
      </div>
      <div class="col3 wow fadeInUp  animated" style="visibility: visible;">
        <h4>
          Contact Us
        </h4>
        <ul class="menu">
          <li>
            <a href="info@jobs.com">
              <i class="fas fa-envelope"></i> info@jobs.com</a>
          </li>
          <li><a href="tel:+9943201912">
            <i class="fas fa-phone-volume"></i> +9943201912</a></li>
        </ul>
      </div>
    </div>
  </div>
    <div class="fbtom bg-dark " style="color:cornsilk;">
      <p>© 2019-2020. All rights reserved by
        <a>Ability Quiver</a>.
      </p>
      <div class="social d-flex justify-content-end">
        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" style="margin: 20px;font-size: 40px;border: ipx solid greenyellow; border-radius: 50%;padding: 5px;background-color: cadetblue;" aria-hidden="true"></i></a>
        <a href="https://www.gmail.com/" target="_blank"><i class="fa fa-gmail" style="margin: 20px;font-size: 40px;border: ipx solid greenyellow; border-radius: 50%;padding: 5px;background-color: cadetblue;" aria-hidden="true"></i></a>
        <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter" style="margin: 20px;font-size: 40px;border: ipx solid greenyellow; border-radius: 50%;padding: 5px;background-color: cadetblue;" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin" style="margin: 20px;font-size: 40px;border: ipx solid greenyellow; border-radius: 50%;padding: 5px;background-color: cadetblue;" aria-hidden="true"></i></a>
      </div>
    </div>
    </div>
  </footer>